/* stylesheet for the turnStyle options page (options.html) */

body {
	margin: 0 auto;
	max-width: 100em;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
	padding: 1em 1em;
	color: #444;
}

h1,
h2,
h3,
strong {
	color: #333;
}

h1 {
	margin-top: 0;
}

a:visited {
	color: blue;
}

textarea {
	white-space: nowrap;
	overflow: auto;
}

.flexbox {
	display: flex;
	align-items: flex-start;
}

.flex-justify {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.strong-em {
	font-weight: bold;
	font-style: italic;
}

.template {
	display: none;
}

/* Style list */

#sidebar {
	border: 2px solid #555;
	padding: 0;
	max-width: 15em;
	min-width: 15em;
	overflow: hidden;
}

.sidebar-header {
	padding: .5em 1em;
	border-bottom: 1px solid #333;
}

.sidebar-header h3 {
	margin: 0;
}

#saved-urls-list {
    max-height: 325px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#saved-styles-list {
	max-height: 225px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.border-top {
	border-top: 2px solid #333;
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

#sidebar li {
	padding: .5em .5em;
	background-color: #fff;
	cursor: pointer;
	box-sizing: padding-box;
}

#sidebar li:hover,
#sidebar li:focus {
	font-weight: bold;
	outline-offset: -2px;
}

#sidebar li:nth-child(odd) {
	background-color: #F7F7F7;
}

.selected {
	font-weight: bold;
	font-style: italic;
}

/* Editor */

#editor {
	margin-left: 2em;
	width: 32em;
	position: relative;
}

#error-message {
	font-size: .9em;
	color: #f00;
	margin-bottom: 4px;
}

/*** editing name */

#editing-name {
	margin-bottom: 0;
	overflow-wrap: break-word;
}

#editing-name-input {
	font-size: 2em;
	font-weight: bold;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.fixed-height {
	min-height: 3.5em;
}

hr {
	margin-top: 1em;
}

/*** style list */

#style-list {
	margin-left: 1em;
}

.page-style {
	padding: .2em 0;
}

.style-name {
	font-weight: bold;
}

select {
	max-width: 20em;
}

.selector {
	margin-top: 1em;
}

#new-url {
	margin-top: 1em;
}

/*** style editor */

#close-button {
	text-align: right;
	margin-bottom: .3em;
}

#style-editor {
	margin-top: 1.5em;
}

.hide {
	display: none;
}

/* popup */

#popup {
	position: absolute;
	display: inline-block;
    left: 330px;
    top: 150px;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 5px;
	padding: 10px 15px;
	background-color: #fff;
	min-width: 167px;
	max-width: 200px;	
	text-align: center;
}

#close-popup {
	position: absolute;
	top: 0;
	right: 5px;
	text-decoration: none;
	color: #000;
}

#popup-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	padding: -200px;
	background-color: rgba(0, 0, 0, .1);
}

#popup-buttons {
	width: 50%;
	margin: 0 auto;
	justify-content: space-around;
}








